@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-6">
        <img src="~/images/Studio-Metrics-Logo.png" class="img-responsive" alt="Studio Metrics Logo"/> 
    </div>
    <div class="col-lg-6">
        <h1>
            Welcome to Studio Metrics
        </h1>
        <h3>
            Thanks you for using Studio Metrics to organize and manage your projects.
        </h3>
        <h3>
            To get started you can create Artists, Clients and In-House Players in their respective links in the navigation bar.
        </h3>
        <h3>
            After this you can proceed to create and manage your projects by the Projects link. Within this link you can see your projects organized by tab based on their current status.
        </h3>
    </div>
</div>
