
@model StudioMetrics.ViewComponents.ProjectTabsViewModel

<div class="responsiveTabs">
    <ul id="myTab" class="nav nav-tabs" style="margin-bottom: 15px;">
        <li><a asp-action="ProjectsOfStatus" asp-route-id="">All</a></li>
        <li><a asp-action="ProjectsOfStatus" asp-route-id="1">Upcoming</a></li>
        <li><a asp-action="ProjectsOfStatus" asp-route-id="2">Completed</a></li>
        <li><a asp-action="ProjectsOfStatus" asp-route-id="3">Current</a></li>
        <li><a asp-action="ProjectsOfStatus" asp-route-id="4">Tentative</a></li>
    </ul>
    @Model.ActiveTab
</div>

